body {
    background-color: rgb(226, 238, 248);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.container {
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(8, 8, 8, 0.253);
    background-color: rgba(44, 94, 94, 0.724);
    text-align: center;
    border-radius: 15px;
    height: 80vh;
    min-width: 40%;
    margin-top: 50px;
    overflow: scroll;
}

.input {
    padding: 15px;
    width: 500px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.btn {
    padding: 15px;
    width: 100px;
    color: black;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(243, 146, 166);
    cursor: pointer;
    margin-left: 10px;
}

.btn:hover {
    color: black;
    background-color: crimson;
}

.list_container {
    list-style: none;
    margin-top: 20px;
    margin-left: -30px;

}

.list_container li {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

#deleteBtn {
    padding: 10px;
    width: 50px;
    color: black;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(243, 146, 166);
    cursor: pointer;
}